*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}

body{
    background: linear-gradient(34deg, rgba(70, 213, 216,1) 0%, rgba(56, 87, 247,1) 100%);
}

.bg-custom1{
    background: linear-gradient(34deg, rgba(6,21,93,1) 0%, rgba(17,82,140,1) 80%, rgba(9,36,92,1) 80%, rgba(0,0,0,1) 100%);
}

.map{
    min-height: 387px;
}

.text-custom{
    color: #7a98ff!important;
}

.btn-link{
    color: white;
}

.title{
    font-family: 'Roboto', sans-serif;
}
.header1{
    width: 100%;
    height: 80px;
    display: block;
    background: rgb(0,127,255);
    background: radial-gradient(circle, rgba(0,127,255,1) 0%, rgba(0,95,255,1) 100%); 
}
.logokazu{
    width: 230px;
    height: 135px;
}
.whatsapp{
    position: absolute;
    height: 15px;
    width: 15px;
    margin-top: 27px;
}
.nav{
    width: 100%;
    text-align: center;
    background-color: #3e82c9;
    overflow: auto;
    display: flex; justify-content: space-between;
}
.nav a{
    font-size: 150%;
    margin-top: 30px;
    margin-right: 5%;
    display: flex; justify-content: center;
    padding: 20px 15px;
    color: #f2f2f2;
}
.nav a:hover{
    color: white;
    text-transform: uppercase;
}
ul{
    display: inline-block;
    text-align: center;
    position: relative;
    list-style-type: none;
}
li{
    float: right;
}

.topfixed{
    position: sticky!important;
    top: 0!important;
    z-index: 9!important;
}

.jb1{
    background: #326296!important;
    color: white;
}

.jb2{
    background: #326296!important;
    color: white;
}

.jb3{
    background: #326296!important;
    color: white;
}

.jb4{
    background: #326296!important;
    color: white;
}

.header_one{
    height: 600px;
    background-image: url('../img/header2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    align-items: center;
}
.header_one > .p1{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-family: 'Montserrat';
}

.buttonOne{
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-weight: 700;
    border: none;
    background-color: #dc143c;
    color: white;
    padding: 12px 22px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    box-shadow: 0 5px 0 #9b0624;
    transition: opacity 4s;
    margin-top: 15%;
    cursor: pointer; 
}
.buttonOne:hover{
    opacity: 75%;
    background-color:#9b0624
}
.header_two{
    height: 200px;
    background: #3e82c9;
    background-image: url('../img/paintdropwhite.png'), url(../img/paintdropred2.png);
    background-position: right bottom, left;
    background-repeat: no-repeat, no-repeat;
    text-align: center;
    align-items: center;
    padding: 2%;
}
.header_two > h1{
    color: white;
    font-family: 'Montserrat';
    padding: 20px;
}
#p1{
    font-family: 'Montserrat';
    font-size: 36px;
    padding: 20px;
    font-weight: bold;
}
#p2{
    font-family: 'Montserrat';
    font-size: 20px;
}
.galeria{
    display: flex;
}
.galeria_item > p{
    color: white;
    font-family: 'Montserrat';
} 
.galeria_item1{
    margin-left: 400px;
    margin-right: 0px;
    width: 200px;
    height: 100px;
    transition: transform 2s; 
}
.galeria_item2{
    margin-left: 25px;
    margin-right: 400px;
    width: 200px;
    height: 100px;
    transition: transform 2s; 
}
.galeria_item1:hover , .galeria_item2:hover{
    transform: scale(1.2);
}
.galeria_item img {
    width: 100%;
    min-height: 80px;
}
.faixa{
    background-color: #f2f2f2;
    color: #f2f2f2;
}
.predios{
    opacity: 70%;
}
.header_three{
    height: 500px;
    background-image: url('../img/predios.png');
    background-color: #3e82c9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 8px 10% 8px;
}
.header_four{
    height: 400px;
    background:  #3E82C9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5% 8px 10% 8px;
}


footer{
    font-family: 'Montserrat';
    font-size: small;
    text-align: center;
    background: #26347a;
    color: white;
    padding: 0;
    margin: 0;
    bottom: 0;
    position: relative;
}

@media only screen  /*Celuloso*/
   and (max-width : 320px) {
    .header_two{
    }
}
@media only screen /*Tablets*/
   and (max-width : 768px) {
}

.padrao{
    background: url("../img/padrao.png") repeat;
    min-height: 100%;
    background-attachment: fixed;
}